.parent__header {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    
}

.header__logo {
    display: flex;
    color: orange;
    justify-content: center;
    align-items: center;
    /* font-size: 12px;   */
} 
.header__logo_Title {
    color : white;
}
.header__searchBar {
    display: flex;
    align-items: center;
}

.header__searchInput {
    border-style : groove;
    width: 52rem;
    padding: 10px;
    border-radius: 1rem;
}

.header__searchBar button {
    background: rgb(50, 50, 11);
    padding: 4px;
    border-radius: 1rem;
}

.header__searchIcon__btn{
    color: black;
}

.header__searchIcon {
    color: white; 
}
.header__nav {
    display: flex;
    align-items: center;
}

.header__nav .nav__item span {
    display: block;
}

.nav__item__lineOne, .nav__item__lineTwo {
    color: white;

}

.basketIcon {
    color : white
}

.nav__item{
    display : inline;
    padding : 10px 15px
}

