.signup {
background-color: whitesmoke;
}

.signup__container > h4{
    text-align: center;
    font-weight: 400;
    margin : 0.2rem
}

.signup__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup__logo__image {
    color: orange;
 
}

.form {
    display: flex;
    flex-direction: column;
}

.form > h5{
    text-align: center;

   
}
.signUp__form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin : 0rem 22rem 0rem 22rem;
    border-style: ridge;
}


.signUp__firstName__input, .signUp__lastName__input, .signUp__email__input,
.signUp__password__input, .signUp__middleName__input, .signUp__username__input,
.signUp__phoneNumber__input, .signUp__role__input, .signUp__button{

    margin: 0rem 22rem 0rem 22rem;
    width : 30rem;
    height : 1.3rem;
    
}

.signUp__footer > h5{
    font-weight: 400;
}

.signUp__footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}

.signUp__footer > h5{
    font-weight: 400;
}

.signUp__footer > a  {
    text-decoration: none;
    font-weight: 400;
    font-size: small;  
    margin : 0rem 0.3rem 0rem 0.3rem    
}

.signUp__button {
    width: 30rem;
    height : 1.4rem;
    background-color: rgb(13, 237, 13);
    font-weight: bolder;
    border-radius: 0.2rem;
    margin : rem 0rem 0rem 0rem 0rem 
}
