.signin {
    background-color: aliceblue;
}


.signin__container {
    display: flex;
    align-items: center;
    height: fit-content;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px;
    border: 0px 40px solid;
}
.signin__logo {
    display: flex;
   margin: 30px 0;
}
.signin__logo__image {
    color: orange;
}
.signin__title {

}
.signin__container > h2 {
    font-weight: 500;
    margin-bottom: 200px;
}
.signIn__button {
    background-color: orange;
    border-radius: 1rem;
    margin-top: 10px;
    border: 1px solid;
    height: 100%;
}
.signIn__button :hover{
    
}
